<div class="loading">
<p>U</p>
<p>Ü</p>
</div>

<button class="btn btn--header btn--menu"><span class="info">{{ .Site.Params.Titre }}</span></button>
<button class="btn btn--header btn--musique none"><span class="info info--on none">bruit</span><span class="info info--off">silence</span></button>
<button class="btn btn--header btn--close none"><span class="info">néant</span></button>

<header class="menu">
  <a href="https://abrupt.cc/michelet-jornod/mara/" target="_blank" rel="noopener" class="title__link">{{ .Site.Params.Titre }}</a>
  <div class="credits">
    {{ .Site.Params.credits | safeHTML }}
  </div>
    <img class="lazy item__image image image--tete"
         alt="fantôme"
         src="/img/tete.png"
         sizes="(min-width: 50em) 20vw, 33vw"
         srcset="/img/tete-small.png 400w,
                 /img/tete-medium.png 800w,
                 /img/tete-large.png 1200w,
                 /img/tete.png 2400w">
</header>
