{{ define "main" }}
<section class="list list--articles">

<h1 class="list__title">{{ .Title | markdownify }}</h1>

  {{ if .Content }}
<div class="list__info">{{ partial "typography.html" . }}</div>
  {{ end }}

  {{ range .Pages.ByTitle }}
    <h2 class="list__term"><a href="{{ .Permalink }}">{{ .Params.title | markdownify }}</a></h2>
  {{ end }}

</section>
{{ end }}

