{{ define "main" }}

<!-- <canvas class="area"></canvas> -->

<main class="home">
  {{ range $i, $sons := .Params.sons }}
  <button class="nuage" id="nb{{ $i }}">
    <img class="lazy item__image image image--nuage"
         alt="nuage"
         src="/img/nuages/nuage{{ $i }}.png"
         sizes="(min-width: 50em) 38vw, 38vw"
         srcset="/img/nuages/nuage{{ $i }}-small.png 400w,
                 /img/nuages/nuage{{ $i }}-medium.png 800w,
                 /img/nuages/nuage{{ $i }}-large.png 1200w,
                 /img/nuages/nuage{{ $i }}.png 2400w">
  <div class="zone"></div>
  </button>
  <audio class="son" id="ns{{ $i }}" loop preload>
    <source src="{{ .src }}" type="audio/mpeg" />
  </audio>
  {{ end }}

<div class="textes">
{{ partial "typography.html" . }}
  <div class="zone"></div>
</div>

<div class="images">
  {{ range $i, $sons := .Params.images }}
    <img class="lazy item__image image image--mara"
         alt="Mara {{ $i }}"
         src="/img/mara{{ $i }}.jpg"
         sizes="(min-width: 50em) 62vw, 62vw"
         srcset="/img/mara{{ $i }}-small.jpg 400w,
                 /img/mara{{ $i }}-medium.jpg 800w,
                 /img/mara{{ $i }}-large.jpg 1200w,
                 /img/mara{{ $i }}.jpg 2400w">
  {{ end }}
  <div class="zone"></div>
</div>
</main>

{{ end }}
